.central{
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.block{
    border-radius: 10px;
    font-size: 30px;
    width: 60%;
    padding: 1%;
    background-color:#b8b8b8;
    text-align: left;
    font-family: 'Courier New';
    color:rgb(255, 255, 255);
}