

<div class = "central">
        <div class = "left">
            <div class = "intro">
                <h1>FLASH PAGE</h1>
            </div>


        </div>

        <div class="block">
            <div class = "intro2">
                <div class="enter">
                    <h3>
                        Enter IP:
                    </h3>
                     <input type="text" [formControl]="deviceIp">

                </div>

                <div class = "sendHandle">
                    <button (click)="sendForm()" class="send">Upload</button>
                </div>

            </div>

            


            <div class = "test">
                <textarea id="textarea" class="md-textarea" [formControl]="flashCode"></textarea>

                
                <div class="terminal">
                    <p id = "terminalValue" class="term"> Terminal</p>
                </div>


            </div>


   



        </div>


</div>